@use '../../scss/' as *;

.catalog {
    @include flex(flex-start, flex-start);

    margin-top: 150px;
    font-size: 1.4rem;

    &__filter {
        width: 20% ;

        &__widget {
            margin-bottom: 2.4rem;

            &__title {
                font-size: 1.6rem;
                font-weight: 600;
                text-transform: capitalize;
                margin-bottom: 16px;
            }

            &__content {
                color: $txt-second-color;

                &__item {
                    margin-bottom: 13px;
                }
            }
        }
    }

    &__content {
        flex-grow: 1;
        width: 80%;

    }
}