@use '../../scss/' as *;

.header {
    text-transform: uppercase;
    background-color: $main-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: $header-height;

    .container {
        height: 100%;
    }

    &__menu {
        @include flex(center, space-between);
        height: 100%;
        font-size: 1.5rem;
        
        &__item {
            font-weight: 400;
            color: $txt-main-color;
        }
        &__left {
            @include flex(center, center);
            height: 100%;

            &__item {
                
                & a{
                    padding: 15px 20px;
                    &:hover {
                        color: $main-color;
                    }
                }
                &.active {
                    color: $main-color;
                }
            }
            
            &__chip {
                @include flex(center, center);

                &__item {
                    width: 32px;
                    height: 32px;
                    background-color: #ededed;
                    text-align: center;
                    border: 1px transparent solid;
                    border-radius: 5px;


                    &:first-child {
                        margin-right: 8px;
                    }

                    & i {
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                        color: #b31f2a;
                    }
                    
                    &:hover {
                        border: 1px #b31f2a solid;
                    }
                }

            }
        }

    }
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $main-color;
    background-color: #ccc;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;

    i {
        font-size: 3rem;
        font-weight: bold;
        color: $txt-main-color;
    }

    &:hover {
        background-color: $main-color;
        
        i {
            color: $txt-white;
        }
    }
}